body{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

section{
    width: 80%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

section #sh6{
    margin: 5%;
    color: rgb(102, 134, 192);
    font-size: medium;
}

.ask-card{
    background-color: rgb(235, 241, 248);
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.rate-card img{
    width: 100%;
}

.rate-cards{
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.rate-card{
    border: 1px solid rgb(169, 193, 224);
    padding: 5px 15px 10px 15px;
    width: 20%;
    cursor: pointer;
    background-color: white;
}

#input{
    width: 90%;
    height: 90px;
}

#send{
    position: absolute;
    right: 8%;
    background-color: rgb(66, 119, 188);
    color: white;
    border: grey 1px solid;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}